<div class="form-input">
  <label>Tags</label>
  <input name="tags" data-role="tagsinput" placeholder="Add up to three tags">
</div>
<div class="form-input">
  <label>Title</label>
  <input name="title" placeholder="Add Title Here (up to 100 characters)" maxlength="100" minlength="1">
</div>
<div class="form-input">
  <label>Article</label>
  <textarea name="article" placeholder="Enter the presentation's description or a blog post here."></textarea>
</div>
<button class="submit" id="submit" type="submit">Post!</button>