<template id="blog-template" type="text/template">
  <div class="title">
    <h3>\{{title}}</h3>
  </div>
  <div class="created-at">
    <p>\{{createdAt}}</p>
  </div>
  <div class="article">
    <p>\{{article}}</p>
  </div>
  <ul class="tags">
    <li>Tags: </li>
    <li>\{{tags}}</li>
  </ul>
</template>