<template id="blog-template" type="text/template">
  <div class="title">
    <h3>\{{title}}</h3>
  </div>
  <div class="created-at">
    <p>\{{createdAt}}</p>
  </div>
  <div class="article">
    <p>\{{article}}</p>
  </div>
  <ul class="tags">
    <h5>Tags:</h5>
    \{{#each tags}}
    <a href="#">
      <li>\{{this}} </li>
    </a>
    \{{/each}}
  </ul>
</template>