<div class="divider">
  <hr>
</div>
<div class="logo">
  <a href="/">
    <img src="/img/zentone_logo.png">
  </a>
</div>
<div class="company">
  <h5>Company</h5>
  <a href="#">About Us</a>
  <a href="#">Press</a>
  <a href="#">Partnerships</a>
</div>
<div class="community">
  <h5>Community</h5>
  <a href="#">Blog</a>
  <a href="#">Facebook</a>
  <a href="#">Twitter</a>
  <a href="#">LinkedIn</a>
</div>
<div class="support">
  <h5>Support</h5>
  <a href="#">Contact Us</a>
  <a href="#">Support</a>
  <a href="#">Privacy Policy</a>
  <a href="#">Terms & Conditions</a>
</div>
<div>
  <p class="copyright">Zentone © 2018</p>
</div>