<div class="canvas-container">
  <canvas id="the-canvas"></canvas>
  <audio id="audio" src="{{audio}}" hidden></audio>
</div>
<button class="slide-controls" id="prev">&lt</button>
<div class="slide-count">
  <span id="page_num"></span> /
  <span id="page_count"></span>
</div>
<button class="slide-controls" id="next">&gt</button>
<div class="author">
  <a href="#">
    <img src="/img/itsme.jpg" class="img-user">
  </a>
  <div class="author__info">
    <h3>Creator: </h3>
    <p>Super user of life since 1992</p>
  </div>
</div>
<div class="views">
  <a href="#">
    <span class="text-muted">100 views</span>
  </a>
</div>
<div class="share">
  <a href="#" id="button-share">
    <i class="fa fa-share"></i>
  </a>
</div>