<div class="grid view-grid-3c2r">
    <div class="slide-viewport">
        <canvas id="the-canvas"></canvas>
    </div>
    <div class="slide-controls">
        <button id="prev" class="btn-primary">&lt</button>
        <button id="next" class="btn-primary">&gt</button>
    </div>
    <div class="slide-count">
        <span>Slide: <span id="page_num"></span> / <span id="page_count"></span></span>
    </div>
</div>