<figure class="pdf-container">
  <div class="canvas-container">
    <canvas id="the-canvas"></canvas>
    <audio id="audio" src="{{audio}}" hidden></audio>
  </div>
</figure>

<div class="thumbnail-container">
  <div class="inner">
    <ul id="thumbnail-slider">
    </ul>
  </div>
</div>

<form class="br_dropzone dropzone audio-dropzone incomplete" id="audio-dropzone">
  <input id="fileName" type="text" name="fileName" placeholder="Insert Audio for Page" readonly>
  <span class="note dz-message">Add audio to this slide!</span>
</form>

<button class="slide-controls" id="prev">&lt</button>

<div class="editor-count">
  <span id="page_num"></span> /
  <span id="page_count"></span>
</div>

<button class="slide-controls" id="next">&gt</button>