<div>
  <a href="#">
    <img id="share" class="icon-md icon-share" src="/img/icons/icon-share.png" aria-hidden="true" alt="Share">
  </a>
</div>
<div>
  <a href="#">
    <img id="bookmark" class="icon-md icon-bookmark" src="/img/icons/icon-bookmark.png" aria-hidden="true" alt="Bookmark">
  </a>
</div>
<div>
  <a id="download-link" download target="_blank">
    <img id="download" class="icon-md icon-download" src="/img/icons/icon-download.png" aria-hidden="true" alt="Download">
  </a>
</div>
<div>
  <a href="#">
    <img id="more" class="icon-md icon-more" src="/img/icons/icon-more.png" aria-hidden="true" alt="More">
  </a>
</div>