{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": 0,
    "consistent-return": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-alert": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": false,
    "Dropzone": false
  }
}