<div class="container-fluid">
    {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
    {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
    {{#if messages.info}}
    <div role="alert" class="alert alert-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

    {{> slide-viewer}}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-9 offset-lg-0">
                    <a href="#"><img src="img/itsme.jpg" class="img-user"></a>
                </div>
                <div class="col-3 views">
                    <a href="#"><span class="text-muted">100 views</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-3 button-slides">
                    <a class="slide-random" href="#presentation" data-slide="prev">
                        random
                    </a>
                </div>
                <div class="col-3 button-slides">
                    <a class="slide-next" href="#presentation" data-slide="next">
                        next
                    </a>
                </div>
                <div class="col-3">
                    <a href="#" id="button-share">
                        <i class="fas fa-share-square pull-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
