<section class="flash">
  {{> flash}}
</section>

<section class="dropzone-container">
  <form class="br_dropzone dropzone dropzone-big" id="slide-dropzone">
    <input id="fileName" type="text" name="fileName" placeholder="Drop your pdf here or click to upload." readonly>
    <span class="note dz-message">If your presentation is not in pdf form, please export it to pdf on your machine before uploading</span>
  </form>
</section>