<section class="flash">
  {{> flash}}
</section>
<section class="slide-viewer">
  {{> slide-viewer}}
</section>
<div class="social">
  {{> social}}
</div>
<section class="blog" id="blog">
  {{> blog}}
</section>