@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/bootstrap-social";
@import "lib/bootstrap-tagsinput.css";
@import "lib/dropzone.css";
@import "lib/tagsinput.css";
@import "lib/thumbnail-slider.css";
@import "user-presentations.scss";
/*
** Root Variables
*/

:root {
  --zentone-blue: #279dff;
}

/*
** --------- Scaffolding -----------
*/

html {
  min-height: 100%;
  overflow-x: hidden;
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
}

ul,
ol {
  list-style-type: none;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

a {
  color: rgb(119, 119, 119);
  text-decoration: none;
  outline: none;
}

a:hover,
a:active,
a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}

input,
button,
submit {
  border: none;
}

img {
  outline: none;
}

textarea {
  resize: none;
  border: none;
}

// Responsiveness
// -------------------------
/* sm */

@media only screen and (max-width: 768px) {
  .teaser-note {
    display: none;
  }
  .nav {
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

// Images
// -------------------------
.gravatar {
  height: 50px;
  img {
    height: 100%;
    border-radius: 5px;
  }
}

.profile {
  height: 100px;
  img {
    height: 100%;
  }
}

.img-user {
  height: 71px;
  width: 56px;
  padding: 10px;
}

.img-share {
  margin-top: 20px;
  margin-right: auto;
  font-size: 40px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon-md {
  width: 30px;
  height: 30px;
  -webkit-filter: opacity(.4);
  filter: opacity(.4);
  &:hover {
    -webkit-filter: opacity(.6);
    filter: opacity(.6);
  }
}

.icon-linkedin {
  background: url("/img/icons/icon-linkedin.svg");
}

.icon-facebook {
  background: url("/img/icons/icon-facebook.svg");
}

.icon-twitter {
  background: url("/img/icons/icon-twitter.svg");
}

.icon-share {}

.icon-bookmark {}

.icon-download {}

.icon-more {}

/*
** --------- Navbar -----------
*/

.nav {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  place-items: center center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  grid-column-start: 1;
  width: 120px;
  img {
    width: 100%;
  }
}

.teaser-note {
  grid-column-start: 2;
  text-align: center;
  padding: 5px 15%;
}

.action {
  grid-column-start: 3;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  li {
    display: grid;
    place-content: center center;
  }
}

.nav-upload {
  display: grid;
  place-content: center center;
  background-color: #279dff;
  color: white;
  width: 78px;
  height: 50px;
  border-radius: 3px;
  @include transition(.4s);
  &:hover {
    background-color: #F8F8F8;
    color: #76B9F4;
    width: 80px;
    height: 48px;
    @include transition(.4s);
  }
}

.dropdown {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  place-content: center center;
  text-align: center;
  .dropdown-menu {
    transform: translate3d(-35px, 30px, 0px);
  }
}

/*
** --------- Body -----------
*/

// Main
// -------------------------
.body {
  display: grid;
  grid-template-rows: 100px 1fr 200px;
  grid-gap: 20px;
}

.main {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: auto 1fr;
  grid-auto-rows: 1fr;
}

.flash {
  grid-column: 2 / 3;
}

#button-share {
  font-size: xx-large;
  color: lightgrey;
  &:hover {
    color: grey;
  }
} // Dropzone
// -------------------------
.dropzone-container {
  grid-column: 2 / 3;
  color: silver;
  @include transition(.4s);
  :hover,
  :hover>.br_dropzone input {
    border: 2px dotted rgb(0, 135, 247);
    @include transition(.4s);
  }
}

.dropzone {
  background: rgba(0, 0, 0, 0);
  display: grid;
  align-content: center;
  border: none;
}

.dropzone-big {
  height: 400px;
  border-radius: 10px;
  border: 2px dashed rgb(0, 135, 247);
}

.audio-dropzone {
  border-radius: 5px;
  overflow: hidden;
  &.success {
    cursor: default;
    pointer-events: none;
    background: rgba(0, 255, 0, 0.02);
    border: 2px dotted green;
  }
  &.incomplete {
    border: 2px dashed tomato;
    background: rgba(255, 0, 0, 0.02);
    &:hover {
      border: 2px dotted red;
    }
  }
}

.dz-details {
  display: none;
}

.dz-image {
  display: none !important;
}

.dz-complete {
  position: fixed !important;
  place-self: center center;
}

.dz-remove {
  position: fixed;
  display: none !important;
}

.remove {
  place-self: end center;
  position: absolute;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    color: #279dff;
  }
}

.br_dropzone {
  display: grid;
  place-content: center center;
  font-weight: 500;
  input {
    z-index: -1;
  }
}

.br_dropzone input[type=file] {
  font-size: 2rem;
  opacity: 0;
  cursor: pointer;
}

.br_dropzone input[type=text] {
  text-align: center;
  font-size: 2rem;
}

.note {
  color: #e6e6e7;
} // Slide Editor
// -------------------------
.slide-editor {
  grid-column: 2 / 3;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 550px 155px 20px;
  grid-gap: 5px;
}

.slide-controls {
  width: 150px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  &:hover {
    background-color: #F8F8F8;
    color: #279dff;
  }
  &.success {
    background: rgba(0, 255, 0, 0.05);
  }
  &.incomplete {
    background: rgba(255, 0, 0, 0.05);
  }
}

.pdf-container {
  grid-column: 1 / 4;
  .canvas-container {
    height: 100%;
    #the-canvas {}
  }
}

.audio-container {
  grid-column: 1 / 5;
  display: grid;
}

.editor-count {
  grid-column: 2 / 4;
  text-align: center;
  color: grey;
  font-weight: 600;
} // Blog Editor
// -------------------------
.blog-editor {
  grid-column: 2 / 3;
  padding-top: 30px;
  display: grid;
  grid-template-rows: 70px 70px 1fr 50px;
  grid-gap: 10px;
}

.form-input {
  display: grid;
  grid-template-rows: 25px 1fr;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  input {
    border: none;
  }
}

.submit {
  background-color: #279dff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 600;
  font-size: 20px;
  @include transition(.2s);
  &:hover {
    background-color: #F8F8F8;
    color: #76B9F4;
    @include transition(.2s);
  }
}

.form-control {
  border-radius: 5px;
}

.slide-form {
  margin: auto;
  padding: 20px;
} // Slide Viewer
// -------------------------
.slide-viewer {
  grid-column: 2 / 3;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 555px 20px 100px;
  grid-gap: 5px;
}

.canvas-container {
  grid-column: 1 / -1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  justify-content: center;
  align-content: center;
}

#next {
  display: grid;
  justify-self: end;
}

.slide-count {
  grid-column: 2 / 3;
  text-align: center;
  color: grey;
  font-weight: 600;
}

.author {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  grid-gap: 5px;
  .author__info {
    h3 {
      font-size: 18px;
    }
  }
}

.views {
  grid-column: 2 / 3;
  text-align: center;
  font-weight: 100;
}

.share {
  display: grid;
  place-content: center end;
}

#slide-foot {
  display: flex;
}

.slide-random {
  font-size: 24px;
}

.slide-next {
  font-size: 24px;
}

// Social
// -------------------------
.social {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  place-items: center center;
}

.social-selected {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

// Blog
// -------------------------
.blog {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 70px 20px 1fr 10px;
  grid-gap: 10px;
}

.tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 50px));
  grid-auto-flow: column;
  place-content: center start;
  a {
    display: grid;
    place-content: center center;
    background-color: #76B9F4;
    color: white;
    border-radius: 5px;
    margin: 2px;
    padding: 0 2px;
  }
}

.title {
  display: grid;
  align-self: end;
}

.created-at {
  display: grid;
  align-self: start;
}

.article {
  padding-top: 20px;
}

/*
** --------- Footer -----------
*/

.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 10px 1fr 30px;
  div {
    display: grid;
    grid-auto-rows: 22px;
    justify-content: center;
    a {
      padding-top: 5px;
    }
  }
}

.footer-divider {
  grid-column: 2 / -2;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
}

.footer .logo {
  grid-column: 2 / 3;
}

.footer .company {
  grid-column-start: 4;
}

.footer div:last-child {
  grid-row-start: 3;
  grid-column: 1 / -1;
}

.footer h4 {
  color: #000;
  font-weight: bold;
}