@import "lib/bootstrap/bootstrap";
// @import "lib/ionicons-2.0.1/scss/ionicons";
@import "lib/font-awesome/font-awesome";
@import "lib/bootstrap-social";
@import "lib/bootstrap-tagsinput.css";
@import "lib/dropzone.css";
@import "lib/tagsinput.css";
@import "lib/thumbnail-slider.css";
@import "themes/default/variables";
@import "themes/default/default";
// Scaffolding
// -------------------------
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin-bottom: 75px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  p,
  ul {
    margin-bottom: 0;
  }
}

ul,
ol {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

input,
button,
submit {
  border: none;
}

// Display
// -------------------------
.flex {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
}

.grid>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 100%;
  display: grid;
  grid-gap: 3px;
}

.view-grid-3c2r {
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto 50px;
}

// Demo Templatting CSS
// -------------------------
.template-bg {
  background-color: #ffeead
}

.item1 {
  background-color: #96ceb4;
}

.item2 {
  background-color: #ff6f69;
}

.item3 {
  background-color: #ffcc5c;
}

// Input Fields
// -------------------------
textarea {
  resize: none;
  border: none;
}

.form-control {
  border-radius: 5px;
}

.slide-form {
  margin: auto;
  padding: 20px;
}

// Buttons
// -------------------------
.btn {
  border-radius: 5px;
}

.btn-primary {
  background-color: #5FC0DC;
}

.button-slides>a {
  color: black;
  &:hover {
    color: lightgrey;
  }
}

#button-share {
  font-size: xx-large;
  color: lightgrey;
  &:hover {
    color: grey;
  }
}

// Navbar
// -------------------------
.navbar {
  flex-wrap: nowrap;
}

.navbar-nav {
  flex-direction: row;
  float: none;
  align-content: center;
}

.navbar-collapse {
  flex-basis: 0;
}

.navbar-container {
  padding: 0 80px;
  display: flex;
}

.navbar-nav>li>a {
  float: none;
  text-align: right;
}

.teaser-note {
  width: 350px;
  text-align: right;
}

.navbar-brand {
  position: relative;
  height: auto;
  width: 120px;
  bottom: 3px;
  margin: auto;
}

.navbar>.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#teaser-note {
  margin: auto;
}

#button-upload {
  background-color: #279dff;
  width: 78px;
  height: 50px;
  border-radius: 8px;
  @include transition(.4s);
  &:hover {
    background-color: #F8F8F8;
    width: 80px;
    height: 48px;
    @include transition(.4s);
  }
}

#button-upload>a {
  color: white;
  &:hover {
    color: #76B9F4;
  }
}

// Alerts
// -------------------------
.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------
.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------
.fa {
  margin-right: 6px;
}

// Images
// -------------------------
.img-dummy {
  background-image: url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);
}

.img-user {
  height: 71px;
  width: 56px;
  padding: 10px;
}

.img-share {
  margin-top: 20px;
  margin-right: auto;
  font-size: 40px;
}

// Responsiveness
// -------------------------
/* xs */

img {
  width: 100%;
  height: auto;
}

/* sm */

@media only screen and (max-width: 768px) {
  .white-sides {
    padding: 0;
  }
  .simple-slider {
    width: 100%;
  }
  .img-share {
    margin-top: 25px;
    font-size: 30px;
  }
  .navbar-container {
    padding: 0 10px;
  }
}

/* md */

@media (min-width: 992px) {}

/* lg */

@media (min-width: 1200px) {}

// Footer-Basic
// -------------------------
.footer-basic {
  padding: 80px 0 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.fa.fa-share-alt {
  font-size: xx-large;
  color: grey;
}

// Dropzone
// -------------------------
.dropzone-container {
  grid-column: 2 / 3;
  color: silver;
  @include transition(.4s);
  :hover,
  :hover>.br_dropzone input {
    background-color: #e0f5fb;
    @include transition(.4s);
  }
}

.dropzone {
  background: rgba(0, 0, 0, 0);
  display: grid;
  align-content: center;
  border: none;
}

.dropzone-big {
  height: 400px;
  border-radius: 10px;
  border: 2px dashed rgb(0, 135, 247);
}

.audio-dropzone {
  border-radius: 5px;
  overflow: hidden;
  &.success {
    background: rgba(0, 255, 0, 0.02);
    border: 2px dotted green;
  }
  &.incomplete {
    border: 2px dashed tomato;
    background: rgba(255, 0, 0, 0.02);
    &:hover {
      border: 2px dotted red;
    }
  }
}

.dz-details {
  display: none;
}

.dz-image {
  display: none !important;
}

.dz-complete {
  position: fixed !important;
}

.dz-remove {
  position: fixed;
  display: none !important;
}

.remove {
  &:hover {
    color: #279dff;
    cursor: pointer;
  }
}

.br_dropzone {
  display: grid;
  place-content: center center;
  font-weight: 500;
  input {
    z-index: -1;
  }
}

.br_dropzone input[type=file] {
  font-size: 2rem;
  opacity: 0;
  cursor: pointer;
}

.br_dropzone input[type=text] {
  text-align: center;
  font-size: 2rem;
}

.note {
  color: #e6e6e7;
}

/*
** --------- Main Content -----------
*/

.main {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: auto 1fr;
  grid-auto-rows: 1fr;
}

.flash {
  grid-column: 2 / 3;
}

/*
** --------- Slide Editor -----------
*/

.slide-editor {
  grid-column: 2 / 3;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 500px 155px 20px;
  grid-gap: 5px;
}

.pdf-container {
  grid-column: 1 / 4;
  .canvas-container {
    height: 100%;
  }
}

.audio-dropzone {
  grid-column: 1 / 5;
}

.editor-count {
  grid-column: 2 / 4;
  text-align: center;
  color: grey;
  font-weight: 600;
}

/*
** --------- Blog Editor -----------
*/

.blog-editor {
  grid-column: 2 / 3;
  padding-top: 30px;
  display: grid;
  grid-template-rows: 70px 70px 1fr 50px;
  grid-gap: 10px;
}

.form-input {
  display: grid;
  grid-template-rows: 25px 1fr;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  input {
    border: none;
  }
}

.submit {
  background-color: #279dff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 600;
  font-size: 20px;
  @include transition(.2s);
  &:hover {
    background-color: #F8F8F8;
    color: #76B9F4;
    @include transition(.2s);
  }
}

/*
** --------- Slide Viewer -----------
*/

.slide-viewer {
  grid-column: 2 / 3;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 555px 20px 100px;
  grid-gap: 5px;
}

.canvas-container {
  grid-column: 1 / -1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  justify-content: center;
  align-content: center;
}

.slide-controls {
  width: 150px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  &:hover {
    background-color: #F8F8F8;
    color: #279dff;
  }
}

#next {
  display: grid;
  justify-self: end;
}

.slide-count {
  grid-column: 2 / 3;
  text-align: center;
  color: grey;
  font-weight: 600;
}

.author {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  grid-gap: 5px;
  .author__info {
    h3 {
      font-size: 18px;
    }
  }
}

.views {
  grid-column: 2 / 3;
  text-align: center;
  font-weight: 100;
}

.share {
  display: grid;
  place-content: center end;
}

#slide-foot {
  display: flex;
}

.slide-random {
  font-size: 24px;
}

.slide-next {
  font-size: 24px;
}

/*
** --------- Blog -----------
*/

.blog {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 70px 20px 1fr 10px;
  grid-gap: 10px;
}

.tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 50px));
  grid-auto-flow: column;
}

.title {
  display: grid;
  align-self: end;
}

.created-at {
  display: grid;
  align-self: start;
}

.article {
  padding-top: 20px;
}