.user__presentations {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 220px 1fr;
  grid-gap: 20px;
}

.user__header {
  display: grid;
  grid-template-columns: 130px 1fr 130px;
  grid-gap: 20px;
  .user__picture {
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-gap: 5px;
    .user__gravatar {
      width: 130px;
      img {
        width: 100%;
      }
    }
  }
  .follow {
    background-color: var(--zentone-blue);
    color: white;
  }
  .user__header-info {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
  }
  .user__social {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
}

.user__presentations-header {
  margin-top: 60px;
}

.user__presentations-list-container {
  ul {
    padding-left: 0;
  }
}